html,
body {
    font-family: 'Rubik', sans-serif!important;
}

// NAVBAR
#navbar {
    .nav-link {
        font-weight: 600;
    }
    &.bg-white {
        background-color: white;
    }
    i {
        font-size: 10px;
    }
    .dropdown-toggle::after {
        display: none;
    }
    .dropdown-menu {
        top: 137%;
        border-radius: 0px;
    }
    .flag {
        width: 25px;
        height: auto;
    }
    #flag-container {
        min-width: 0px;
        left: -40px;
        width: 90px;
        text-align: center;
        top: 137%;
        .dropdown-item {
            padding-left: 10px;
            padding-right: 10px;
            span {
                padding-left: 6px;
            }
        }
    }
}

//SLIDER
#r-slider {
    position: relative;
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: black;
        z-index: 10;
        opacity: 0.5;
    }
    .carousel-inner {
        height: 88.5vh;
    }
    .carousel-control-prev,
    .carousel-control-next {
        z-index: 15;
        opacity: 1;
        i {
            font-size: 50px;
            color: #ffffff5c;
            &:hover {
                color: white;
            }
        }
    }
}

//emerging title
#r-emerge-title,
#r-about-title,
#r-offices-title {
    .row {
        text-align: center;
        h1 {
            width: 100%;
            padding-top: 50px;
        }
    }
}

//emerging contents
#r-emerge-content {
    .card-columns {
        padding-left: 105px;
        padding-right: 105px;
        .card {
            width: 338px!important;
            border-radius: 0px;
            &:hover {
                box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
                transition: box-shadow 0.3s;
            }
            .card-body {
                padding-left: 24px;
                padding-right: 24px;
            }
            h4 {
                text-align: center;
                padding-top: 6px;
            }
            p {
                padding-top: 4px;
                text-align: justify;
            }
            .btnn {
                margin-top: 16px;
                text-align: center;
            }
        }
    }
    .learnmore {
        background-color: #149dcc;
        color: white;
        padding: 8px 48px;
        border-radius: 100px;
        font-weight: 700;
        &:hover {
            box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
        }
    }
}

//parallax one
#r-parallax1 {
    background-image: url("../img/hands-on-desk-at-meeting_4460x4460.jpg");
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}

// r-merger-title
#r-merger-title {
    .row {
        text-align: center;
        h1 {
            width: 100%;
            padding-top: 50px;
        }
    }
}

#r-about-content {
    .col {
        text-align: center;
    }
    img {
        max-width: 700px;
    }
}

//r-merger-content
#r-merger-content,
#r-estate-content,
#r-trade-content,
#r-services-content,
#r-about-content,
#r-offices-content,
#r-affiliates-content {
    padding-bottom: 40px;
    .container {
        .row {
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }
    p {
        text-align: justify;
    }
    img {
        width: 100%;
    }
    .card {
        position: relative;
        address {
            text-align: left;
            margin-bottom: 0px;
            margin-top: 16px;
            font-size: 12px;
        }
        &:hover {
            .overlay {
                opacity: 0.3;
            }
            .btnn {
                a {
                    display: inline-block;
                }
            }
        }
        .card-body {
            text-align: center;
        }
        .overlay {
            position: absolute;
            top: 0;
            bottom: 67px;
            left: 0;
            right: 0;
            opacity: 0;
            background-color: #efefef;
            transition: opacity .3s;
        }
        .btnn {
            text-align: center;
            .learnmore {
                background-color: #149dcc;
                color: white;
                padding: 8px 48px;
                border-radius: 100px;
                font-weight: 700;
                margin-top: 12px;
                &:hover {
                    box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
                }
            }
        }
    }
}

#r-services-content {
    .row {
        margin-bottom: 100px!important;
        h5 {
            color: #4c4c4c;
        }
    }
}

#r-parallax2 {
    background-image: url("../img/greg-becker-19268.jpg");
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}

#r-estate-title,
#r-trade-title {
    .row {
        text-align: center;
        h1 {
            width: 100%;
            padding-top: 50px;
        }
        p {
            width: 100%;
            text-align: center;
        }
    }
}

#r-contact {
    background-color: whitesmoke;
    padding-bottom: 50px;
    padding-top: 50px;
    h1 {
        text-align: center;
    }
    .btn {
        background-color: #149dcc;
        color: white;
        padding: 8px 48px;
        border-radius: 100px;
        font-weight: 700;
        margin-top: 12px;
        &:hover {
            box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }
}

.btn {
    background-color: #149dcc;
    color: white;
    padding: 8px 48px;
    border-radius: 100px;
    font-weight: 700;
    margin-top: 12px;
    &:hover {
        box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
        cursor: pointer;
        color: white;
    }
}

#footer {
    background-color: #2d313c;
    padding-top: 30px;
    padding-bottom: 30px;
    h5 {
        text-align: center;
        color: #f2f2f2;
    }
}

#r-parallax3 {
    background-image: url("../img/christine-roy-343235.jpg");
    height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}

.carousel-caption {
    top: 20%;
    left: 0;
    right: 0;
    bottom: 0;
}

p {
    color: grey;
}

.slider-text {
    img {
        opacity: 0.8;
    }
    h1 {
        font-size: 4.75rem;
    }
    p {
        font-size: 18px;
        color: white;
    }
    .btn {
        background-color: #149dcc;
        color: white;
        padding: 8px 48px;
        border-radius: 100px;
        font-weight: 700;
        margin-top: 12px;
        &:hover {
            box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
            cursor: pointer;
        }
    }
}

header,
footer,
section {
    overflow: auto;
}

#r-offices-content,
#r-affiliates-content {
    .row {
        justify-content: center;
        text-align: left;
        padding-top: 50px;
        &.affiliates {
            text-align: center;
            img {
                max-width: 218px;
            }
        }
        .nav-tabs {
            border-bottom: none;
            .nav-link {
                border-color: none;
                border: none;
                &.active {
                    border-color: none;
                    background-color: #149dcc;
                    color: white;
                    border-radius: 50px;
                    padding: 8px 20px;
                }
                &:hover {
                    border-color: none
                }
            }
        }
        .card {
            border: none;
            .card-body {
                text-align: left;
                padding-left: 6px;
                padding-right: 6px;
            }
        }
    }
}

#r-offices-content {
    .row {
        padding-top: 0px;
    }
}

#r-offices-title {
    padding-bottom: 20px;
}

#r-affiliates-content,
#r-emerge-title,
#r-about-title,
#r-about-content {
    background-color: whitesmoke;
}

@media (max-width: 992px) {
    .navbar-light .navbar-toggler {
        border-color: rgba(0, 0, 0, 0);
    }
    #r-slider {
        .carousel-inner {
            height: auto;
        }
        .slider-text {
            h1 {
                font-size: 45px;
            }
            p,
            .btn {
                font-size: 16px;
            }
        }
    }
    #r-services-content {
        padding-bottom: 0px;
        .row {
            margin-bottom: 0px!important;
            border-bottom: 1px solid #dadada;
            .col-lg-6 {
                margin-bottom: 10px;
                text-align: center;
            }
        }
    }
    h1 {
        font-size: 45px;
    }
    h3 {
        font-size: 27px;
    }
    h5 {
        font-size: 19px;
    }
    p,
    .btnn {
        font-size: 16px;
    }
    .affiliates img {
        width: 180px!important;
    }
    #r-affiliates-content {
        .row {
            padding-top: 0px;
            .col-lg-3 {
                padding-top: 20px;
            }
        }
    }
    #r-offices-content {
        padding-bottom: 0px;
        .row {
            margin-bottom: 0px;
            .nav-tabs {
                .nav-link {
                    font-size: 16px;
                    &.active {
                        font-size: 16px;
                        padding: 8px 20px;
                    }
                }
            }
            .col-lg-4 {
                margin-top: 10px;
            }
            address {
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar-light .navbar-toggler {
        border-color: rgba(0, 0, 0, 0);
    }
    #r-slider {
        .carousel-inner {
            height: auto;
        }
        .slider-text {
            h1 {
                font-size: 40px;
            }
            p,
            .btn {
                font-size: 14px;
            }
        }
    }
    #r-services-content {
        padding-bottom: 0px;
        .row {
            margin-bottom: 0px!important;
            border-bottom: 1px solid #dadada;
            .col-lg-6 {
                margin-bottom: 10px;
                text-align: center;
            }
        }
    }
    h1 {
        font-size: 40px;
    }
    h3 {
        font-size: 25px;
    }
    h5 {
        font-size: 17px;
    }
    p,
    .btnn {
        font-size: 14px;
    }
    .affiliates img {
        width: 180px!important;
    }
    #r-affiliates-content {
        .row {
            padding-top: 0px;
            .col-lg-3 {
                padding-top: 20px;
            }
        }
    }
    #r-offices-content {
        padding-bottom: 0px;
        .row {
            margin-bottom: 0px;
            .nav-tabs {
                .nav-link {
                    font-size: 14px;
                    &.active {
                        font-size: 14px;
                        padding: 8px 12px;
                    }
                }
            }
            .col-lg-4 {
                margin-top: 10px;
            }
            address {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 575px) {
    .navbar-brand {
        img {
            width: 150px;
        }
    }
    .navbar-light .navbar-toggler {
        border-color: rgba(0, 0, 0, 0);
    }
    #r-slider {
        .carousel-caption {
            top: 10%;
        }
        .carousel-inner {
            height: auto;
        }
        .slider-text {
            h1 {
                font-size: 30px;
            }
            p,
            .btn {
                font-size: 12px;
            }
        }
        .carousel-control-prev,
        .carousel-control-next {
            top: 234px;
            i {
                font-size: 18px;
            }
        }
    }
    #r-emerge-title,
    #r-about-title,
    #r-offices-title,
    #r-merger-title {
        .row {
            h1 {
                font-size: 30px;
                padding-top: 30px;
            }
        }
    }
    #r-contact h1 {
        font-size: 30px;
    }
    h3 {
        font-size: 22px;
    }
    h5 {
        font-size: 15px;
    }
    h6 {
        font-size: 13px;
    }
    p,
    .btnn {
        font-size: 12px;
    }
    .btnn {
        margin-top: 0px;
    }
    #r-services-content {
        padding-bottom: 0px;
        .row {
            margin-bottom: 0px!important;
            border-bottom: 1px solid #dadada;
            .col-lg-6 {
                margin-bottom: 10px;
                text-align: center;
            }
        }
    }
    #r-offices-content {
        padding-bottom: 0px;
        .row {
            margin-bottom: 0px;
            .nav-tabs {
                .nav-link {
                    font-size: 12px;
                    &.active {
                        font-size: 12px;
                        padding: 8px 12px;
                    }
                }
            }
            .col-lg-4 {
                margin-top: 10px;
            }
            address {
                font-size: 12px;
            }
        }
    }
    #r-affiliates-content {
        .row {
            padding-top: 0px;
            .col-lg-3 {
                padding-top: 20px;
            }
        }
    }
    .affiliates img {
        max-width: 180px;
    }
}

.lol {}